Repository pollen8llc/special-dollop-7o65eq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/admin-team, @organization/backend-team, @organization/database-team, @organization/api-team, @organization/qa-team, @organization/frontend-team, @organization/ui-team, @organization/devops-team, @organization/lead-developers

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/errors.ts
  src/backend/src/utils/errors.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/prisma.ts
  src/backend/src/utils/prisma.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/redis.ts
  src/backend/src/utils/redis.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/security.ts
  src/backend/src/utils/security.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/fixtures/experiences.fixture.ts
  src/backend/tests/fixtures/experiences.fixture.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/fixtures/profiles.fixture.ts
  src/backend/tests/fixtures/profiles.fixture.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/fixtures/users.fixture.ts
  src/backend/tests/fixtures/users.fixture.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/integration/api/auth.test.ts
  src/backend/tests/integration/api/auth.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/integration/api/experiences.test.ts
  src/backend/tests/integration/api/experiences.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/integration/api/profiles.test.ts
  src/backend/tests/integration/api/profiles.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/unit/services/cache.service.test.ts
  src/backend/tests/unit/services/cache.service.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/unit/services/experience.service.test.ts
  src/backend/tests/unit/services/experience.service.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/backend/tests/unit/services/profile.service.test.ts
  src/backend/tests/unit/services/profile.service.test.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/.dockerignore
  src/web/.dockerignore
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/.env.example
  src/web/.env.example
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/.gitignore
  src/web/.gitignore
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/.prettierrc
  src/web/.prettierrc
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/README.md
  src/web/README.md
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/package.json
  src/web/package.json
Owners: @organization/lead-developers

Add public-samples/special-dollop-7o65eq/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/railway.toml
  src/web/railway.toml
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/remix.config.ts
  src/web/remix.config.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/remix.env.d.ts
  src/web/remix.env.d.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/entry.client.tsx
  src/web/app/entry.client.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/entry.server.tsx
  src/web/app/entry.server.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/root.tsx
  src/web/app/root.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/animations/CardAnimation.tsx
  src/web/app/components/animations/CardAnimation.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/animations/FadeInAnimation.tsx
  src/web/app/components/animations/FadeInAnimation.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/animations/GalleryAnimation.tsx
  src/web/app/components/animations/GalleryAnimation.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/animations/LoadingAnimation.tsx
  src/web/app/components/animations/LoadingAnimation.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/auth/AuthModal.tsx
  src/web/app/components/auth/AuthModal.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/auth/LoginButton.tsx
  src/web/app/components/auth/LoginButton.tsx
Owners: @organization/ui-team

Add public-samples/special-dollop-7o65eq/src/web/app/components/auth/OAuthButtons.tsx
  src/web/app/components/auth/OAuthButtons.tsx
Owners: @organization/ui-team

.github/CODEOWNERS:

* @organization/admin-team

# Backend code ownership
/src/backend/ @organization/backend-team
/src/backend/prisma/ @organization/database-team
/src/backend/src/api/ @organization/api-team
/src/backend/tests/ @organization/qa-team

# Frontend code ownership  
/src/web/ @organization/frontend-team
/src/web/app/components/ @organization/ui-team
/src/web/tests/ @organization/qa-team
/src/web/cypress/ @organization/qa-team

# Infrastructure and deployment
/infrastructure/ @organization/devops-team
*.tf @organization/devops-team
.github/workflows/ @organization/devops-team
docker-compose.yml @organization/devops-team
Dockerfile @organization/devops-team

# Database schema
*.schema.prisma @organization/database-team

# Package management
package.json @organization/lead-developers
package-lock.json @organization/lead-developers 
yarn.lock @organization/lead-developers

# Test files
*.test.ts @organization/qa-team
*.test.tsx @organization/qa-team
