Repository pollen8llc/special-dollop-7o65eq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/admin-team, @organization/backend-team, @organization/database-team, @organization/api-team, @organization/qa-team, @organization/frontend-team, @organization/ui-team, @organization/devops-team, @organization/lead-developers

Add public-samples/special-dollop-7o65eq/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/docker/Dockerfile
  src/backend/docker/Dockerfile
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/src/backend/docker/docker-compose.yml
  src/backend/docker/docker-compose.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/src/backend/prisma/schema.prisma
  src/backend/prisma/schema.prisma
Owners: @organization/database-team

Add public-samples/special-dollop-7o65eq/src/backend/prisma/seed.ts
  src/backend/prisma/seed.ts
Owners: @organization/database-team

Add public-samples/special-dollop-7o65eq/src/backend/prisma/migrations/.gitkeep
  src/backend/prisma/migrations/.gitkeep
Owners: @organization/database-team

Add public-samples/special-dollop-7o65eq/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/controllers/experiences.controller.ts
  src/backend/src/api/controllers/experiences.controller.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/controllers/profiles.controller.ts
  src/backend/src/api/controllers/profiles.controller.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/routes/auth.route.ts
  src/backend/src/api/routes/auth.route.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/routes/experiences.route.ts
  src/backend/src/api/routes/experiences.route.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/routes/profiles.route.ts
  src/backend/src/api/routes/profiles.route.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/validators/experience.validator.ts
  src/backend/src/api/validators/experience.validator.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/api/validators/profile.validator.ts
  src/backend/src/api/validators/profile.validator.ts
Owners: @organization/api-team

Add public-samples/special-dollop-7o65eq/src/backend/src/config/clerk.ts
  src/backend/src/config/clerk.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/config/constants.ts
  src/backend/src/config/constants.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/config/railway.ts
  src/backend/src/config/railway.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/docs/openapi.yaml
  src/backend/src/docs/openapi.yaml
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/docs/schemas/auth.schema.yaml
  src/backend/src/docs/schemas/auth.schema.yaml
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/docs/schemas/experience.schema.yaml
  src/backend/src/docs/schemas/experience.schema.yaml
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/docs/schemas/profile.schema.yaml
  src/backend/src/docs/schemas/profile.schema.yaml
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/models/experience.model.ts
  src/backend/src/models/experience.model.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/models/profile.model.ts
  src/backend/src/models/profile.model.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/models/user.model.ts
  src/backend/src/models/user.model.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/services/auth.service.ts
  src/backend/src/services/auth.service.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/services/cache.service.ts
  src/backend/src/services/cache.service.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/services/experience.service.ts
  src/backend/src/services/experience.service.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/services/profile.service.ts
  src/backend/src/services/profile.service.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/types/api.types.ts
  src/backend/src/types/api.types.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/types/auth.types.ts
  src/backend/src/types/auth.types.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/types/experience.types.ts
  src/backend/src/types/experience.types.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/types/profile.types.ts
  src/backend/src/types/profile.types.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @organization/backend-team

.github/CODEOWNERS:

* @organization/admin-team

# Backend code ownership
/src/backend/ @organization/backend-team
/src/backend/prisma/ @organization/database-team
/src/backend/src/api/ @organization/api-team
/src/backend/tests/ @organization/qa-team

# Frontend code ownership  
/src/web/ @organization/frontend-team
/src/web/app/components/ @organization/ui-team
/src/web/tests/ @organization/qa-team
/src/web/cypress/ @organization/qa-team

# Infrastructure and deployment
/infrastructure/ @organization/devops-team
*.tf @organization/devops-team
.github/workflows/ @organization/devops-team
docker-compose.yml @organization/devops-team
Dockerfile @organization/devops-team

# Database schema
*.schema.prisma @organization/database-team

# Package management
package.json @organization/lead-developers
package-lock.json @organization/lead-developers 
yarn.lock @organization/lead-developers

# Test files
*.test.ts @organization/qa-team
*.test.tsx @organization/qa-team
