Repository pollen8llc/special-dollop-7o65eq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/admin-team, @organization/backend-team, @organization/database-team, @organization/api-team, @organization/qa-team, @organization/frontend-team, @organization/ui-team, @organization/devops-team, @organization/lead-developers

.github/CODEOWNERS:

* @organization/admin-team

# Backend code ownership
/src/backend/ @organization/backend-team
/src/backend/prisma/ @organization/database-team
/src/backend/src/api/ @organization/api-team
/src/backend/tests/ @organization/qa-team

# Frontend code ownership  
/src/web/ @organization/frontend-team
/src/web/app/components/ @organization/ui-team
/src/web/tests/ @organization/qa-team
/src/web/cypress/ @organization/qa-team

# Infrastructure and deployment
/infrastructure/ @organization/devops-team
*.tf @organization/devops-team
.github/workflows/ @organization/devops-team
docker-compose.yml @organization/devops-team
Dockerfile @organization/devops-team

# Database schema
*.schema.prisma @organization/database-team

# Package management
package.json @organization/lead-developers
package-lock.json @organization/lead-developers 
yarn.lock @organization/lead-developers

# Test files
*.test.ts @organization/qa-team
*.test.tsx @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/app/lib/clerk.server.ts
  src/web/app/lib/clerk.server.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/lib/clerk.ts
  src/web/app/lib/clerk.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/lib/framer-motion.ts
  src/web/app/lib/framer-motion.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/lib/redis.server.ts
  src/web/app/lib/redis.server.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/_index.tsx
  src/web/app/routes/_index.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/auth.callback.tsx
  src/web/app/routes/auth.callback.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/auth.signin.tsx
  src/web/app/routes/auth.signin.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/auth.signout.tsx
  src/web/app/routes/auth.signout.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/gallery.tsx
  src/web/app/routes/gallery.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/profile.$id.edit.tsx
  src/web/app/routes/profile.$id.edit.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/profile.$id.tsx
  src/web/app/routes/profile.$id.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/routes/profile.new.tsx
  src/web/app/routes/profile.new.tsx
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/styles/animations.css
  src/web/app/styles/animations.css
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/styles/app.css
  src/web/app/styles/app.css
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/styles/tailwind.css
  src/web/app/styles/tailwind.css
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/animation.types.ts
  src/web/app/types/animation.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/auth.types.ts
  src/web/app/types/auth.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/common.types.ts
  src/web/app/types/common.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/experience.types.ts
  src/web/app/types/experience.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/profile.types.ts
  src/web/app/types/profile.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/types/route.types.ts
  src/web/app/types/route.types.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/animations.ts
  src/web/app/utils/animations.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/auth.ts
  src/web/app/utils/auth.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/date.ts
  src/web/app/utils/date.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/error.ts
  src/web/app/utils/error.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/format.ts
  src/web/app/utils/format.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/app/utils/validation.ts
  src/web/app/utils/validation.ts
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/e2e/auth.cy.ts
  src/web/cypress/e2e/auth.cy.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/e2e/gallery.cy.ts
  src/web/cypress/e2e/gallery.cy.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/e2e/profile.cy.ts
  src/web/cypress/e2e/profile.cy.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/fixtures/profiles.json
  src/web/cypress/fixtures/profiles.json
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/cypress/support/e2e.ts
  src/web/cypress/support/e2e.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/docker/Dockerfile
  src/web/docker/Dockerfile
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/src/web/docker/docker-compose.yml
  src/web/docker/docker-compose.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @organization/frontend-team

Add public-samples/special-dollop-7o65eq/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @organization/qa-team

Add public-samples/special-dollop-7o65eq/src/web/tests/components/auth/AuthModal.test.tsx
  src/web/tests/components/auth/AuthModal.test.tsx
Owners: @organization/qa-team
