Repository pollen8llc/special-dollop-7o65eq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @organization/admin-team, @organization/backend-team, @organization/database-team, @organization/api-team, @organization/qa-team, @organization/frontend-team, @organization/ui-team, @organization/devops-team, @organization/lead-developers

Add public-samples/special-dollop-7o65eq/.github/dependabot.yml
  .github/dependabot.yml
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @organization/admin-team

Add public-samples/special-dollop-7o65eq/infrastructure/docker/monitoring/alertmanager.yml
  infrastructure/docker/monitoring/alertmanager.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/docker/monitoring/docker-compose.yml
  infrastructure/docker/monitoring/docker-compose.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/docker/monitoring/grafana.yml
  infrastructure/docker/monitoring/grafana.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/docker/monitoring/prometheus.yml
  infrastructure/docker/monitoring/prometheus.yml
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/scripts/security-scan.sh
  infrastructure/scripts/security-scan.sh
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/cdn.tf
  infrastructure/terraform/cdn.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/monitoring.tf
  infrastructure/terraform/monitoring.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/postgresql.tf
  infrastructure/terraform/postgresql.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/railway.tf
  infrastructure/terraform/railway.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/redis.tf
  infrastructure/terraform/redis.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/security.tf
  infrastructure/terraform/security.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/environments/development.tfvars
  infrastructure/terraform/environments/development.tfvars
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/environments/production.tfvars
  infrastructure/terraform/environments/production.tfvars
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/infrastructure/terraform/environments/staging.tfvars
  infrastructure/terraform/environments/staging.tfvars
Owners: @organization/devops-team

Add public-samples/special-dollop-7o65eq/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/.env.example
  src/backend/.env.example
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/.gitignore
  src/backend/.gitignore
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/README.md
  src/backend/README.md
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @organization/backend-team

Add public-samples/special-dollop-7o65eq/src/backend/package.json
  src/backend/package.json
Owners: @organization/lead-developers

Add public-samples/special-dollop-7o65eq/src/backend/railway.toml
  src/backend/railway.toml
Owners: @organization/backend-team

.github/CODEOWNERS:

* @organization/admin-team

# Backend code ownership
/src/backend/ @organization/backend-team
/src/backend/prisma/ @organization/database-team
/src/backend/src/api/ @organization/api-team
/src/backend/tests/ @organization/qa-team

# Frontend code ownership  
/src/web/ @organization/frontend-team
/src/web/app/components/ @organization/ui-team
/src/web/tests/ @organization/qa-team
/src/web/cypress/ @organization/qa-team

# Infrastructure and deployment
/infrastructure/ @organization/devops-team
*.tf @organization/devops-team
.github/workflows/ @organization/devops-team
docker-compose.yml @organization/devops-team
Dockerfile @organization/devops-team

# Database schema
*.schema.prisma @organization/database-team

# Package management
package.json @organization/lead-developers
package-lock.json @organization/lead-developers 
yarn.lock @organization/lead-developers

# Test files
*.test.ts @organization/qa-team
*.test.tsx @organization/qa-team
